@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><i class="fab fa-aws">&nbsp;</i><i class="fas fa-heart red"></i> .NET!</h1>
    <h2>Welcome to AWS Fargate</h2>
    <p>Learn about <a href="https://aws.amazon.com/developer/language/net">building .NET applications on AWS</a>.</p>
    <p>Learn about <a href="https://aws.amazon.com/fargate/">hosting Web apps on Fargate</a>.</p>
</div>
